<!-- sidebar panel -->
<layout></layout>
<!-- end sidebar panel -->

<!-- page content -->
<div id="main" class="right_col" role="main">
  <!-- top tiles -->
  <div class="row todo-list">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Task's List</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <!-- item-form -->
          <task-form (createTask)="this.todoService.createTask($event)"></task-form>
          <!-- end item-form -->

          <section class="users-items">
            <div class="item-group" *ngIf="items.length">
              <task-list [items]="items"
                         (remove)="this.todoService.removeTask($event)"
                         (update)="this.todoService.updateTask($event.item, $event.changes)">
              </task-list>
            </div>
            <div class="message" *ngIf="!items.length">
              <h4>Task not created. Please add new</h4>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>List Completed Tasks</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="item-group" *ngIf="completedTasks.length">
            <task-list [items]="completedTasks"
                       (remove)="this.todoService.removeTask($event)"
                       (update)="this.todoService.updateTask($event.item, $event.changes)">
            </task-list>
          </div>
          <div class="message" *ngIf="!completedTasks.length">
            <h4>You haven't comleted tasks.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
