<!-- sidebar panel -->
<layout></layout>
<!-- end sidebar panel -->

<!-- page content -->
<div id="main" class="right_col" role="main">
  <!-- top tiles -->
  <div class="row todo-list">
    <div class="col-md-9 col-sm-9 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Task's List</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <section class="users-items">
            <h3>All items todo</h3>
            <!--<div class="item-group" *ngFor="let item of items">-->
            <div class="task-item" tabindex="0">

              <div class="cell">
                <button class="task-item__button" type="button">
                  <span class="icon"><i class="fa fa-check"></i></span>
                </button>
              </div>
              <div class="cell">
                <div class="task-item__title" tabindex="0">
                  Title
                </div>
              </div>

              <div class="cell">
                <button class="task-item__button" type="button">
                  <span class="icon"><i class="fa fa-pencil"></i></span>
                </button>
                <button class="task-item__button" type="button">
                  <span class="icon"><i class="fa fa-remove"></i></span>
                </button>
              </div>
            </div>
            <!--</div>-->
          </section>
          <!-- item-form -->
          <task-form></task-form>
          <!-- end item-form -->
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>To Do List</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          xxxxxxx
        </div>
      </div>
    </div>
  </div>

</div>
