.todo-list {
  .users-items {
    margin-top: 30px;
  }

  .item-group {
    border: 1px solid #ddd;
    border-bottom: none;
  }

  .odd .task-item {
    background: #ecf8ff;

    &.editing {
      background: #f9f9f9;
      color: #333;
    }
  }

  .task-item {
    overflow: hidden;
    display: block;
    padding: 5px 15px;
    color: #333;
    border-bottom: 1px solid #ddd;
    position: relative;

    &:hover {
      background: rgb(25, 191, 230);
      color: #fff;
    }

    &.completed {
      background: #f7f7f7;
      color: #73879C;

      .task-item__button .icon {
        display: block;
      }

      .task-item__title {
        text-decoration: line-through;
        color: #73879C;
      }
    }

    .cell {
      display: flex;
    }

    .task-item__button {
      height: 21px;
      width: 21px;
      background: #fff;
      display: block;
      padding: 0;
      margin: 0 10px 0 0;

      .icon {
        display: none;
      }

      &:hover {
        .icon {
          display: block;
          color: #19bfe6;
        }
      }
    }

    .remove {
      cursor: pointer;
    }

    .center-col {
      padding-right: 35px;

      form,
      input {
        width: 100%;
      }

      input {
        border: none;
        background: none;
      }
    }

    .right-col {
      float: left;
    }

    .left-col {
      position: absolute;
      right: 15px;
      top: 5px;

      .icon {
        margin-right: 6px;
        line-height: 1px;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }

  .task-form {
    .field {
      padding: 0;

      input {
        border: 0;
        width: 100%;
        box-shadow: none;
        border-bottom: 1px solid #999;
      }
    }

    .submit {
      background: none;
      box-shadow: none;
      border: none;
      margin: 0;

      i {
        color: #19bfe6;
        font-size: 33px;
      }
    }
  }
}
