
<div class="navbar nav_title">
  <a href="/" class="site_title"><i class="fa fa-paw"></i> <span>Smart!</span></a>
</div>

<div class="clearfix"></div>

<!-- menu profile quick info -->
<div class="profile clearfix">
  <div class="profile_pic">
    <img src="assets/images/user.png" alt="user" class="img-circle profile_img">
  </div>
  <div class="profile_info">
    <!-- <span>Welcome,</span> -->
    <h2>Welcome</h2>
  </div>
</div>
<!-- end menu profile quick info -->

<!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">
        <li>
          <a routerLink="/dashboard"><i class="fa fa-home"></i> Dashboard </a>
        </li>
        <li>
          <a routerLink="/todo-list"><i class="fa fa-list-alt"></i> To Do List </a>
        </li>
        <li>
          <a href="/"><i class="fa fa-pie-chart"></i> Charts </a>
        </li>
        <li>
          <a href="/"><i class="fa fa-calendar"></i> Calendar </a>
        </li>
        <li>
          <a routerLink="/users"><i class="fa fa-users"></i> Users </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- end sidebar menu -->
